{% load static %}
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h5 class="footer-h5">Support</h5>
            <ul class="footer-ul">
                <li class="supportLi">
                    <p> Contact me </p>
                    <h4>
                        <a class="inline a-footer" href="callto:+380967828232"><strong> <i class="fa fa-phone"> </i>
                            +380967828232 </strong>
                        </a>
                    </h4>
                    <h4>
                        <a class="inline a-footer" href="mailto:example@mail.com"> <i class="fa fa-envelope-o"> </i>
                            example@mail.com </a>
                    </h4>
                </li>
            </ul>

        </div>
        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h5 class="footer-h5">Categories</h5>
            <ul class="negative-margin" >
                <li class="footer-category-li">
                    <a  class="footer-category-a" href="#">
                        Men's
                    </a>
                </li>
                <li>
                    <a class="footer-category-a" href="#">
                        Women's</a></li>
                <li>
                    <a class="footer-category-a"  href="#">
                        Dresses
                    </a></li>
                <li>
                    <a  class="footer-category-a" href="#">Shoes
                    </a>
                </li>
                <li>
                    <a  class="footer-category-a" href="#">
                        Sunglesses
                    </a></li>

            </ul>
        </div>
        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h5 class="footer-h5">Links</h5>
            <ul class="negative-margin">
                <li class="footer-category-li">
                    <a  class="footer-category-a" href="#">
                        Search
                    </a>
                </li>
                <li>
                    <a class="footer-category-a" href="#">
                        About us
                    </a>
                </li>
                <li>
                    <a class="footer-category-a"  href="#">
                        Contact us
                    </a>
                </li>
            </ul>

        </div>
        <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
            <h5 class="footer-h5">Newslatter</h5>
            <form action="">
                <label class="footer-label" for="exampleInputEmail">Enter your email address and get notified about new products. We hate spam!</label>
                <input type="email" class="form-control" placeholder="example@mail.com" id="exampleInputEmail">
                <button type="submit" class="btn  mb-2 footer-btn btn-change6">Send</button>

            </form>
        </div>
    </div>
</footer>